/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap")
layer(base);
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
@theme {
  --font-raleway: Raleway, sans-serif;
  --font-inter: Inter, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.jodit-status-bar {
  display: none !important;
}

.jodit-wysiwyg ul,
.jodit-dialog__content ul {
  list-style-type: disc;
  margin: 0;
  padding: 0 20px 10px;
}

.jodit-wysiwyg ul ul,
.jodit-dialog__content ul ul {
  list-style-type: circle;
}

.jodit-wysiwyg ul ul ul,
.jodit-dialog__content ul ul ul {
  list-style-type: square;
}

.jodit-wysiwyg ol,
.jodit-dialog__content ol {
  list-style-type: decimal;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.jodit-wysiwyg ol ol,
.jodit-dialog__content ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.jodit-wysiwyg td,
.jodit-dialog__content td {
  border: solid 1px;
}

/* From Uiverse.io by satyamchaudharydev */
.loading2 {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}

.loading2 span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading2 span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading2 span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading2 span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading2 span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

/* Chrome, Safari, Edge etc. */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
@layer components {
  .title {
    @apply block text-sm font-semibold text-slate-700 mb-1;
  }
}
